# Configuration file

bookshelf {
    # This is the list of items that can be inserted in the bookshelf and will give enchantment power to the table
    S:books <
        minecraft:book
        minecraft:knowledge_book
        minecraft:writable_book
        minecraft:written_book
        minecraft:enchanted_book
        bibliocraft:bigbook
        bibliocraft:slottedbook
        bibliocraft:recipebook
        bibliocraft:atlasbook
        akashictome:tome
        agricraft:journal
        thuamcraft:curio
        thaumcraft:thaumonomicon
        thaumcraft:curio
        xpbook:xp_book
        cookingforblockheads:recipe_book
        quark:ancient_tome
        tconstruct:book

     >

    # This is the list of items that can be inserted in the bookshelf but will not give enchantment power to the table
    S:items <
        minecraft:painting
        minecraft:paper
        minecraft:filled_map
        minecraft:item_frame
        minecraft:map
        thaumcraft:celestial_notes
        twilightforest:maze_map
     >

    # If ture you need silk touch to harvest the full bookshelf [default: true]
    B:silkTouchRequired=false
}


