<assembly xmlns="http://maven.apache.org/ASSEMBLY/2.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/2.0.0 http://maven.apache.org/xsd/assembly-2.0.0.xsd">
  <id>server</id>
  <formats>
    <format>zip</format>
  </formats>
  <fileSets>
    <fileSet>
      <directory>target/classes</directory>
      <outputDirectory>.</outputDirectory>
      <includes>
        <include>instance.cfg</include>
        <include>mmc-pack.json</include>
      </includes>
    </fileSet>
    <fileSet>
      <directory>target/classes</directory>
      <outputDirectory>.minecraft</outputDirectory>
      <includes>
        <include>start_server.properties</include>
      </includes>
    </fileSet>
    <fileSet>
      <directory>target/mods</directory>
      <outputDirectory>.minecraft/mods</outputDirectory>
      <includes>
        <include>*.jar</include>
      </includes>
      <excludes>
        <exclude>InventoryTweaks*</exclude>
        <exclude>noRecipeBook*</exclude>
        <exclude>WailaHarvestability*</exclude>
        <exclude>EnchantmentDescriptions*</exclude>
        <exclude>Controlling*</exclude>
        <exclude>JEHC*</exclude>
        <exclude>itemzoom*</exclude>
        <exclude>MouseTweaks*</exclude>
        <exclude>CTM*</exclude>
        <exclude>supersoundmuffler*</exclude>
        <exclude>BackTools*</exclude>
        <exclude>ChunkAnimator*</exclude>
        <exclude>jeivillagers*</exclude>
        <exclude>ThaumicJEI*</exclude>
        <exclude>JustEnoughResources*</exclude>
        <exclude>ctgui*</exclude>
      </excludes>
    </fileSet>
    <fileSet>
      <directory>target/server</directory>
      <outputDirectory>.minecraft</outputDirectory>
      <includes>
        <include>*</include>
      </includes>
    </fileSet>
    <fileSet>
      <directory>src/main/resources/scripts</directory>
      <outputDirectory>.minecraft/scripts</outputDirectory>
      <includes>
        <include>*.zs</include>
      </includes>
    </fileSet>
    <fileSet>
      <directory>src/main/resources/config</directory>
      <outputDirectory>.minecraft/config</outputDirectory>
      <includes>
        <include>**/*.cfg</include>
        <include>**/*.json</include>
      </includes>
    </fileSet>
    <fileSet>
      <directory>src/main/resources/scripts</directory>
      <outputDirectory>.minecraft</outputDirectory>
      <includes>
        <include>*.sh</include>
      </includes>
    </fileSet>
  </fileSets>
</assembly>
